@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'segoe';
    src: url('../../public/fonts/SEGOEUI.TTF');
}
.body{
    font-family: 'segoe';
    list-style: none;
    text-decoration: none;
}

.story-border{
    padding: 2px; 
    background: conic-gradient(
        #d6249f,
        #285AEB, 
        #FFDC80, 
        #F58529, 
        #d6249f  
    );
}

.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  
  }